.page {
  margin: 0 auto;
  background-color: #000000;
  min-width: 945px;
  max-width: 1280px;
}
@media screen and (max-width: 1279px) {
  .page {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
    max-width: 767px;
  }
}
